
@{
    ViewBag.Title = "CollectorPage";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Addresses</h2>
        <p>
            Addresses
        </p>
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Map", "MainRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
</div>