@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "CollectorPage";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead"></p>
    <h2>Welcome Collecor @User.Identity.GetUserName()</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Addresses</h2>
        <p>
            Addresses
        </p>
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Map", "MainRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
</div>