@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "UserPage";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead"></p>
    <h2>Welcome @User.Identity.GetUserName()</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Schedule</h2>
        <p>
            Normal pickup time: Wednesday morning
            <br />This weeks pickup time: Wednesday morning
        </p>
    </div>
    <div class="col-md-4">
        <h2>Change Schedule?</h2>
        <p>Click this button if you would like to change your pickup settings.</p>
        @Html.ActionLink("Pick Up Settings", "PickUpOptions", "Manage", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
    <div class="col-md-4">
        <h2>Dues</h2>
        <p>You owe: One zillion trillion billion million dollars!!!</p>
    </div>
</div>

