@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Trash Collector</h2>
        <p>
            Qunilex has been serving the community for 50,000,000 generations. We specialize in cleaning up ViewBags when it is convienient for you! Cuddles?
        </p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Click this button if you would like to login.</p>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Click this button to register yourself.</p>
        @Html.ActionLink("Register as a new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
    <div id="googleMap" style="margin: 0 auto 0 auto; width:75%; height:400px;"></div>

    <script>
        function myMap() {
            var customerMap = {
                center: { lat: 43.034134, lng: -87.911953 },
                zoom: 12
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), customerMap);

            var marker = new google.maps.Marker({
                position: { lat: 43.034134, lng: -87.911953 },
                draggable: false,
                title: "QuinLex HQ",
                animation: google.maps.Animation.DROP
            });
            marker.setMap(map);
            @*  This code will set the markers dynamically from a query result of 
                Use foreach loop
                 --->id/gpsLat/ gpsLong/ name

                var markerCode = @"marker = new google.maps.Marker({
                position: { "+String.Format("lat: {0}, lng: {1}", item.gpsLat, item.gpsLong)+@" },
                draggable: false,
                animation: google.maps.Animation.DROP,
                title: "+item.lName+"}});"; @markerCode  *@
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi62KbulZmb99ybJmvf8t78lOUZvYOY94&callback=myMap">
    </script>
</div>
